{% extends 'base.html.twig' %}

{% block title %}Démarrer l'aventure
{% endblock %}


{% block body %}
	<div class='d-grid gap-2 justify-content-center'>
		<div class='link-secondary bg-primary'>
			Le personnage
			{{personnage.prenom}}
			{{personnage.nom}}
			commence l'aventure :
			{{aventure.titre}}.
		</div>
        <a href="{{path('app_play_aventure',{'idPartie':partie.id,'idEtape':partie.etape.id}) }}" class="link-secondary btn btn-primary">Lancer l'aventure !</a>
	</div>

{% endblock %}
