{% extends 'base.html.twig' %}

{% block title %}New Partie{% endblock %}

{% block body %}
  

    {{ include('partie/_form.html.twig') }}
<div class="d-grid gap-2 d-md-flex justify-content">
    <a class="link-secondary btn btn-primary" href="{{ path('app_partie_index') }}">back to list</a>
    </div>
      <h1 class="text-warning">Create new Partie</h1>
{% endblock %}
